<div class="padding">
  First Name: <%= @user.first_name %> <br>
  Last Name: <%= @user.last_name %> <br>
  Email: <%= @user.email %> <br>
  Total Spent: <%= @user.spent %> <br>
	
	<% if current_user == @user %>
    <div class="btn-group">
      <div class = "button text-center">
        <%= link_to "edit profile", edit_user_path(@user.id), class: 'btn btn-light center-block' %>
      </div>
      <div class = "button text-center">
        <%= button_to "Delete profile", @user, {method: :delete, data: {confirm: "Are you sure you want to delete your account?"}, class: "btn btn-danger btn-lg"}  %>
      </div>
    </div>
  <% end %>

  <h2> Games You Own </h2>
    <% if @user.games == [] %>
       "Have Games that You Own Appear Here!"
    <% else %>
      <ul>
        <% @user.games.each do |game| %>
          <li>
            <%= link_to game_path(game) do %>
              <%= image_tag game.image %><br>
            <% end %>
          </li>
      </ul>
        <%= form_for @user, {url: delete_game_path(@user), method: :delete} do |f|  %>
          <%= f.hidden_field :id, :value => @user.id %>
          <%= f.hidden_field :game_id, :value => game.id %>
          <%= f.submit "Delete",data: { confirm: "Are you sure?" }, class: "btn btn-default"  %>
        <% end %>
      <% end %>
    <% end %>
</div>